.product-container {
    display: flex;
    margin-left: 50px;
    border-bottom: 1px solid #ccc;
    margin-right: 5px;
    text-align: left;
    margin-bottom: 5px;

}

.cart-button {
    width: 200px;
    height: 27px;
    background-color: rgb(241, 202, 103);
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgb(83, 81, 81);
    margin-bottom: 5px;
}

.icon-color {
    color: goldenrod;
}